* {
  box-sizing: border-box;
  font-family:'Work Sans', sans-serif;
  margin: 0;
  text-transform: capitalize;
}
:root {
  --main-color: #10CAB7;
  scroll-behavior: smooth;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
.show {
  display: block !important;
}
/* Responsive web design */
@media (min-width:768px) {
  .container {
    width:750px ;}
}
@media (min-width:992px) {
  .container {
    width: 970px ;}
}
@media (min-width:1200px) {
  .container {
    width: 1170px;}
}
/* header */
header {
  padding: 15px;
  height: 64px;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
header .container .logo img {
  width: 60px;
}
/* Desktop Navbar */
header .container .Desktop-links ul {
  display: flex;
  align-items: center;
  justify-content: center;
  list-style-type: none;
  padding: 0;
}
header .container .Desktop-links ul li {
  padding: 10px;
  font-weight: 600;
  border-bottom: 2px solid transparent;
  transition: 0.3s;
}
header .container .Desktop-links ul li a {
  text-decoration: none;
  display: block;
  color: var(--main-color);
}
header .container .Desktop-links ul li:hover {
  border-bottom: 2px solid var(--main-color);
}
@media (max-width:768px) {
  header .container .Desktop-links {
    display: none;
  }
}
/* Mobile Navbar */
header .container .mob-links i {
  font-size: 25px;
  padding-right: 10px;
  color: var(--main-color);
  cursor: pointer;
}
header .container .mob-links {
  position: relative;
}
header .container .mob-links ul {
  list-style-type: none;
  background-color: #f6f6f6;
  width: 200px;
  position: absolute;
  right: 0px;
  top: calc(100% + 20px);
  padding: 0;
  display: none;
}
header .container .mob-links ul::before{
  content: "";
  border: 15px solid;
  border-color: transparent transparent #f6f6f6 transparent;
  position: absolute;
  right: 5px;
  top: -30px;
}
header .container .mob-links ul li {
  padding: 10px;
  border-bottom: 1px solid #80808033;
  font-weight: 600;
}
header .container .mob-links ul li:last-child {
  border-bottom: none;
} 
header .container .mob-links ul li a {
  text-decoration: none;
  transition: 0.3s;
  display: block;
  color: var(--main-color);
}
header .container .mob-links ul li a:hover {
  padding-left: 15px;
}
@media (min-width:768px) {
  header .container .mob-links {
    display: none;
  }
}
/* header */
/* landing */
.landing {
  background-image: url(../image/landing.jpg) ;
  background-attachment: scroll;
  background-size: cover;
  height: calc(100vh - 64px);
  display: flex;
  justify-content: center;
  align-items: center;
}
.landing div {
  width: 350px;
  text-align: center;
}
.landing div h1 {
  margin: 0;
  color: var(--main-color);
  margin-bottom: 10px;
  font-weight: bold;
  font-size: 50px;
}
.landing div p {
  line-height: 1.8;
  color: black;
  font-size: 20px;
}
/* features */
.features{
  background-color: #f6f6f6;
  padding-top: 60px;
  padding-bottom: 60px;
}
.features .container {
  display: grid;
  grid-template-columns: repeat(auto-fill , minmax(300px,1fr));
  gap: 20px;
}
.features .container .features-col {
  text-align: center;
}
.features .container i {
  color: var(--main-color);
  font-size: 50px;
  margin-bottom: 25px;
}
.features .container h2 {
  margin-bottom: 25px;
  font-size: 20px;
}
.features .container p {
  line-height: 1.8;
}
/* features */
/* services */
.services {
  padding-top: 60px;
  padding-bottom: 60px;
}
.special-head {
  margin: 0;
  text-align: center;
  font-size: 80px;
  letter-spacing: -3px;
  color: #ebeced;
}
.special-paragraph {
  text-align: center;
  margin-top: -25px;
  color: #797979;
  margin-bottom: 100px;
}
.services .container .services-content {
  display: grid;
  grid-template-columns: repeat(auto-fill , minmax(300px,1fr));
  gap: 30px;
}
.services .container .services-content .srv{
  display: flex;
  margin-bottom: 40px;
  height: 190.5px;
}
.services .container .services-content .srv i{
  color: var(--main-color);
  font-size: 40px;
  padding-right: 30px;
}
.services .container .services-content .srv h3 {  
  margin-bottom: 25px;
}
.services .container .services-content .srv p {  
  color: #444;
  line-height: 1.8;
}
@media (max-width: 767px) {
  .services .container .services-content .srv{
    display: flex;
    flex-direction: column;
    margin-bottom: 40px;
    height: 190.5px;
    text-align: center;
  }
  .services .container .services-content .srv i{
    color: var(--main-color);
    font-size: 40px;
    padding: 0px;
    margin-bottom: 25px;
  }
}
.services .container .services-col .img-srv {  
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.services .container .services-content img {  
  width: 260px;
}
.services .container .services-col .img-srv::before {  
  content: "";
  background-color: #2c4755;
  width: 100px;
  height: calc(100% + 100px);
  position: absolute;
  right: 0;
  top: -50px;
  z-index: -1;
}
@media (max-width:1199px) {
  .services .container .services-content img {  
    display: none;
  }
  .services .container .services-col .img-srv::before {  
    display: none;
  }
}
/* portfolio */
.portfolio {
  background-color: #f6f6f6;
  padding-top: 60px;
  padding-bottom: 60px;
}
.portfolio-content {
  display: grid;
  grid-template-columns: repeat(auto-fill , minmax(300px,1fr));
  gap: 30px;
}
.portfolio-content .col{
  background-color: white;
}
.portfolio-content .col img{
width: 100%;
}
.portfolio-content .col .text{
  padding: 20px;
}
.portfolio-content .col h3{
  margin-bottom: 20px;
}
.portfolio-content .col p{
  color: #777;
  line-height: 1.8;
}
/* portfolio */
/* about */
.about {
  padding-top: 60px;
  padding-bottom: 60px;
}
.about .about-content {
  display: grid;
  grid-template-columns: 1fr minmax(650px,1fr);
  gap: 30px;
}
@media (max-width:1199px){
  .about .about-content {
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(400px,1fr));
    gap: 30px;
  }
}
@media (max-width:766px){
  .about .about-content {
    display: grid;
    grid-template-columns: repeat(auto-fill , minmax(300px,1fr));
    gap: 30px;
  }
}
.about .about-content .image {
  position: relative;
}
.about .about-content .image::before {
  content: "";
  position: absolute;
  width: 100px;
  height: calc(100% + 80px);
  background-color: #ebeced;
  left: -20px;
  top: -40px;
  z-index: -1;
}
.about .about-content .image::after {
  content: "";
  position: absolute;
  left: 200px;
  top: -40px;
  width: 120px;
  height: 299px;
  border-bottom: 80px solid var(--main-color);
  border-left: 80px solid var(--main-color);
  z-index: -1;
}
@media (max-width:991px){
  .about .about-content .image::after,
  .about .about-content .image::before {
    display: none;
  }
  .about .about-content .image {
    display:flex ;
    align-items: center;
    justify-content: center;
  }
}
.about .about-content .image img {
  width: 250px;
}
.about .about-content .col p {
  line-height: 2;
}
.about .about-content .col .one {
  padding-top: 15px;
  padding-bottom: 50px;
  font-weight: bold;
}
.about .about-content .col .two {
  padding-top: 25px;
  padding-bottom: 50px;
  color: #777;
}
.about .about-content .col hr {
  width: 50%;
  border-color: var(--main-color);
}
@media (max-width:991px){
  .about .about-content .col p,
  .about .about-content .col hr {
    text-align: center;
  }
  .about .about-content .col hr {
    margin-left: 25%;
  }
}
/* about */
/* contact */
.contact {
  background-color: #f6f6f6;
  padding-top: 60px;
  padding-bottom: 60px;
}
.contact .text a {
  display: block;
  font-size: 35px;
  font-weight: bold;
  letter-spacing: -3px;
  color: var(--main-color);
  text-transform: none;
  text-decoration: none;
  margin-bottom: 20px;
  }
.contact .text p,
.contact .text a {
  text-align: center;
}
.contact .text .one {
  font-size: 35px;
  font-weight: bold;
  letter-spacing: -3px;
  color: #2c4755;
  text-transform: none;
  margin-bottom: 10px;
}
@media (max-width:766px){
  .contact .text .one,
  .contact .text a {
    font-size: 26px;
  }
}
.contact .text .two i{
  color: #2c4755;
  padding-left: 5px;
  transition: 0.3s;
}
.contact .text .two i:hover{
  color: var(--main-color);
}
/* contact */
/* footer */
.footer {
  background-color: #2c4755;
}
.footer p {
  text-align: center;
  padding: 30px;
  color: white;
  font-size: 18px;
}
.footer p span:last-child {
  color: var(--main-color);
  font-weight: bold;
}
/* footer */
/* top button */
.topButton {
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--main-color);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  position: fixed;
  bottom: 15px;
  right: 15px;
  cursor: pointer;
  opacity: 0;
  transition: all 0.4s;
  visibility: hidden;
}
.topButton:hover {
  background-color: #30d5c4;
}